@media (max-width:1370px){
    .section-txt h1{
        font-size: 40px;
      
    }
    
    .section-txt p{
        font-size: 17px;
        
    }
    
}


@media (max-width:1175px){
    .section-2{
     
        padding: 200px;
   
    
    }
    .section-2 h1{
        font-size: 25px;
       
        margin-bottom: 40px;
    }
    .section-2 p{
        
        padding: 30px;
        font-size: 18px;
    }


    .section-3 p{
   
        font-size: 18px;
        padding: 80px 20px 100px 20px;
        
    }


    .section-4-img{
  
        padding: 50px;
    }
    .section-4-img h1{
        margin-top: 30px;
        font-size: 25px;
    
        
    }
    
    .section-4-img h2{
        margin-top: 30px;
        
      
     
    }
    
    .section-4 img{
        width: 180px; 
    }
    
    .section-projetos{

        margin-top: 30px;
        padding: 50px;
  
    }
    
    .section-projetos-div{
        width: 30%;
        padding: 30px;
        gap: 30px;
      
        
    }

    .section-projetos div h2{
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .section-projetos div p{
        font-size: 18px;
    }
    
    .section-servicos{
        margin-top: 30px;
        padding: 50px;
     
    }
    
    .section-servicos-div{
        padding: 80px;
        flex-direction: column;
        background-color:  #321c66;
        cursor: pointer;
        gap: 30px;
    
    }
 
    .section-servicos div p{
        font-size: 18px;
        margin-bottom: 50px;
    }
    
    
    .section-servicos div h2{
        font-size: 25px;
        margin-top: 30px;
       
    }
    
    .section-links{
        padding: 30px;
       
    }
    
    .section-links p{
       
    }
    
    .section-contatos{
        display: flex;
        justify-content: space-around;
        padding: 130px;
      
       
        
    }
    .section-contatos div p{
        font-family: 15px;
    }
    .section-contatos div img{
        width: 90px;
        cursor: pointer;
       
    }
 
}


@media (max-width:1150px){
    .header div h1{
        font-size: 25px;
    }
 
    .section-4{
   
        padding: 50px;
        display: flex;
        justify-content: space-around;
        
        
    }
    .section-4-img{
        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 50px 0px 0px 0px;
        padding: 50px;
        text-align: center;


        width: 400px;
    }
    .section-4-img h1{
        margin-top: 30px;
        font-weight: 400;
    
        
    }
    
    .section-4-img h2{
        margin-top: 30px;
        font-weight: 400;
      
     
    }
    
    .section-4 img{
        width: 150px; 
    }
    .section-4 img:hover{
        rotate: 360deg;
        padding: 10px;
        transition: 1s;
    }
    
    
    .section-projetos{
    
        display: flex;
        margin-left: 20%;
        flex-direction: column;
        text-align: center;
    

        gap: 40px;
        
     
        
  
    }
    .section-projetos-div{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 70%;
        padding: 30px;
        
        gap: 30px;
        transition: 0.5s;
        
    }
}



@media (max-width:950px){
    .section-sobre p{
        padding: 30px;
        font-size: 15px;
      
    
    }
     .section-4{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        padding: 50px;
        width: 100%;
        
        

    }
    .section-4-img{
        display: flex;
        
        align-items: center;
        background-color:  #321c66;
        border-radius: 0;
        padding: 50px;
        text-align: center;
        color: #fff;
        box-shadow: 20px 20px 20px 20px #0d0d13;
        width: 100%;
    }
    
    .section-servicos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
  
        padding: 50px;
     
        font-size: 20px;
    
}

    .section-servicos-div{
        text-align: center;
        padding: 80px;
        margin: 0px 50px 0px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        gap: 30px;
        transition: 0.5s;
    }
    .section-contatos div p{
       font-size: 15px;
    }
    .section-contatos div img{
        width: 70px;
        cursor: pointer;
       
    }
}


@media (max-width:850px){
    .section-2{
  

        padding: 200px;
        text-align: center;
    
    }
    .section-2 h1{
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .section-2 p{
        
        padding: 30px;
      
        border-radius: 0px 0px 50px 50px;
        margin: 0px -40% 0px -40%;
        font-size: 20px;
        white-space: pre-wrap;
   
        
    }
    
    
}



@media (max-width:720px){
    .header div h1{
        font-size: 22px;
        cursor: pointer;
    }
    .section-txt h1{
        font-size: 25px;
        font-weight: 400;
    }

    .section-txt p{
        font-size: 17px;
        font-weight: 400;
    }
    .section-sobre p{
        padding: 25px;
        border-radius: 10px;
        font-size: 15px ;
    }
    .section-2 h1{
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .section-2 p{
    
        padding: 30px;

        font-size: 17px;

    }
        .section-projetos{
    
            display: flex;
            margin-left: 0;
            flex-direction: column;
            text-align: center;
        
    
            gap: 40px;
   
      
        }
        .section-projetos-div{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            padding: 30px;
            
            gap: 30px;
            transition: 0.5s;
}
}



@media (max-width:590px){
    .section-2 h1{
        font-size: 18px;
    }
    .section-2 p{
        
        
        margin: 0px -90% 0px -90%;
        
        
    }
}


@media (max-width:555px){ /*415*/
   
 
    .header{
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid rgb(115, 39, 187);
        align-items: center;
        padding: 30px;
        width: 100%;
        position: fixed;
        background-color: #13131f;
        top: 0;
        left: 0;
        z-index: 1000;
    
       
    }
    .header div h1{
        font-size: 17px;
        cursor: pointer;
       
    }
    .menu{
        display: flex;
        justify-content: space-around;
        gap: 10px;
    
    }
    
    .menu-div{
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      
    }
    .menu-txt{
        font-size: 10px;
    }
    .material-symbols-outlined{
        font-size: 22px;
    }
    .section{
      display: flex;
      flex-direction: column-reverse;
     
    }
    .section-txt h1{
        font-size: 20px;
        font-weight: 400;
    }

    .section-txt p{
        font-size: 17px;
        font-weight: 400;
    }
    .section-sobre p{
        padding: 20px;
        border-radius: 10px;
        font-size: 10px ;
       
    }
    .section img{
        width: 160px;
    
    }
    .section-2{
        padding: 0;
    
    }

    .section-2 h1{
        margin-top: 0;
        padding: 10px;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0px;
    }
    .section-2 p{
        margin: 0;
        padding: 10px;
        font-size: 15px;
        border-radius: 0px;

    }
    .section-3{
    
        padding-top: 100px;
        text-align: center;
        padding-bottom: 40px;
    
    }
    
    .section-3 p{
       
        font-size: 15px;
        color: #fff;
        font-weight: 400;
        padding: 80px 20px 100px 20px;
   
    }
    
    .section-3-mot{
        margin-top: 20px;
  
        font-weight: 400;
      
    }

    .section-4{
   
        padding: 0px;
        display: flex;
        justify-content: space-around;
        
        
    }
    .section-4-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:  #321c66;
        border-radius:0px;
        padding: 50px;
        text-align: center;
        color: #fff;
        box-shadow: 20px 20px 20px 20px #0d0d13;
    }
    .section-4-img h1{
        margin-top: 30px;
        font-weight: 400;
    
        
    }
    
    .section-4-img h2{
        margin-top: 30px;
        font-weight: 400;
      
     
    }
    
    .section-4 img{
        width: 100px; 
    }
    .section-4 img:hover{
        rotate: 360deg;
        padding: 10px;
        transition: 1s;
    }
    .section-out{
        margin-top: 30px;
    }
    .section-out p{
       font-size: 15px;
        
    }
    .section-servicos{
        padding: 0;
    }
    .section-servicos-div{
        padding: 30px;
        
    }
    
    
    .section-servicos div h2{
        
        margin-bottom: 30px;

    }
    .section-links{
        margin-top: 30px;
    }




    .section-contatos{
        margin: 30px 0px 30px 0px;
       padding: 40px;
       
        
    }
    .section-contatos div{
      
    }
    .section-contatos div p{
    
       
    }
    .section-contatos div img{
        width: 70px;
        cursor: pointer;
       
    }
    .section-contatos div img:hover{
        transition: 0.5s;
        border-radius: 10px;
    
        padding: 10px;
    }
    .footer-info p{
        font-size: 12px;
    }
}
