@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Mukta&family=Roboto+Condensed:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
    overflow-x: hidden;
    background-color: #13131f;
    font-family: "kanit", sans-serif;
    overflow: visible;

   
}
/* width */
::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track - fundo do scrool */
  ::-webkit-scrollbar-track {
    background-color: #18182b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #321c66;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
  }
 
  
.header{
   gap: 10px;
   
}

.header div h1{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

.menu-div{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.menu .menu-div a{
    color: #fff;
    cursor: pointer;
}
.menu .menu-div a .menu-txt{
   
    font-size: 15px;
    border-radius: 10px;
    font-family: 'kanit', sans-serif;
   
    
}

.menu-div a{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3px;

}

.material-symbols-outlined{
    font-size: 30px;
}
#iconic-menu{
   
    font-size: 30px;
    transition: 0.5s;
}
#iconic-menu:hover{
    color: #370368;
}




.section{
    display: flex;
    justify-content: space-around;
    padding-top: 250px;
    text-align: center;
    padding-bottom: 200px;
    background-color: #13131f;
    align-items: center;
 
}

.section-txt{
 
    padding-top: 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    
    color: #fff;
    margin-bottom: 40px;
   
}

.section-txt h1{
    font-size: 50px;
    font-weight: 400;
}

.section-txt p{
    font-size: 20px;
    font-weight: 400;
}

.section-sobre{
    margin-top: 10px;
}

.section-sobre p{
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgb(115, 39, 187);
    transition: 0.5s;
  
}

.section-sobre p:hover{
    background-color: #210447;
}
.section img{
    width: 20%;

}



.section-2{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    background-color: #18182b;
    padding: 200px;
    text-align: center;

}
.section-2 h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}
.section-2 p{
    
    padding: 30px;
    background-color:  #321c66;
    border-radius: 0px 0px 50px 50px;
    font-size: 20px;
    white-space: pre-wrap;
    box-shadow:  10px 10px 10px 10px  #0d0d13;
    
}


.section-3{
    
    padding-top: 100px;
    text-align: center;
    padding-bottom: 40px;

}

.section-3 p{
   
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    padding: 80px 20px 100px 20px;
    background-color:  #321c66;
    font-family: "kanit", sans-serif;
}

.section-3-mot{
    margin-top: 20px;
    font-family: "kanit", sans-serif;
    font-weight: 400;
    color: rgb(115, 39, 187);
}
.section-4{
   
    padding: 50px;
    display: flex;
    justify-content: space-around;
    
    
}
.section-4-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #321c66;
    border-radius: 50px 0px 0px 0px;
    padding: 50px;
    text-align: center;
    color: #fff;
    box-shadow: 20px 20px 20px 20px #0d0d13;
}
.section-4-img h1{
    margin-top: 30px;
    font-weight: 400;

    
}

.section-4-img h2{
    margin-top: 30px;
    font-weight: 400;
  
 
}

.section-4 img{
    width: 200px; 
}
.section-4 img:hover{
    rotate: 360deg;
    padding: 10px;
    transition: 1s;
}






.section-out{
    padding: 30px;
    text-align: center;

    border: 3px solid  rgb(115, 39, 187);
}
.section-out p{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    
}

.section-projetos{

    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color: #fff;
    padding: 50px;
    font-family: 'kanit';
    font-size: 20px;
}

.section-projetos-div{
    width: 30%;
    border: 2px solid #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.5s;
    
}
.section-projetos-div:hover{
    border-radius: 15px 0px 0px 0px;
    transform: rotate(5deg);
}
.section-projetos div h2{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-projetos div p{
    color: #fff;
}


.section-projetos div img:hover{
    padding: 3px;
    transition: 1s;
}

.section-projetos div span{
    color: rgb(115, 39, 187);
    transition: 0.5s;
    cursor: pointer;
}
.section-projetos div span:hover{
    color: rgb(193, 180, 206);
}




.section-servicos{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    color: #fff;
    padding: 50px;
    font-family: 'kanit';
    font-size: 20px;
 
}

.section-servicos-div{
    padding: 80px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    background-color:  #321c66;
    cursor: pointer;
    gap: 30px;
    transition: 0.5s;
}
.section-servicos-div:hover{
    opacity: 0.50;
    border: 2px solid rgb(115, 39, 187);
}

.section-servicos div p{
    color: #fff;
    margin-bottom: 50px;
}


.section-servicos div h2{
    margin-top: 30px;
    color: #fff;
}



.section-links{
    padding: 30px;
    text-align: center;
   
    border: 3px solid  rgb(115, 39, 187);
}

.section-links p{
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

.section-contatos{
    display: flex;
    justify-content: space-around;
    padding: 130px;
   
    
}
.section-contatos div{
    text-align: center;
    align-items: center;
}
.section-contatos div p{

    color: #fff;
    font-family: 'Kanit', sans-serif;
}
.section-contatos div img{
    width: 100px;
    cursor: pointer;
   
}
.section-contatos div img:hover{
    transition: 0.5s;
    border-radius: 10px;

    padding: 10px;
}


footer{
    background-color: #18182b;
    border-top: 3px solid  rgb(115, 39, 187);
    text-align: center;
    
}
.footer-info{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: #fff;
}

