@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Mukta&family=Roboto+Condensed:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track - fundo do scrool */
::-webkit-scrollbar-track {
  background-color: var(--background-color1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #0d6efd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
}


a {
  text-decoration: none;
   color: #fff;;
}
body {
  --background-color-header: #131338;
  --background-color1: #0d0d2e; 
  --background-color2: #131338;
  --background-color-button: #0d6efd;
  --background-color-button2: #0d6efd;
  --background-color-icon: #1352af;
  --background-box: rgba(255, 255, 255, 0.05);
  --text-color: #fff;
  --text-color-desc:#bab8be;
  --text-color-span: #0D6EFD;
  --text-color-placeholder: #ccc;
  ---border-color: 1px solid rgba(255, 255, 255, 0.1);
  
  
  overflow-x: hidden;
  font-family: "kanit", sans-serif;
 
  transition: 0.5s;
  animation: AnimationBody alternate 2s;
}
body.alternar{
  --background-color-header:#0D6EFD;
  --background-color1: #e5e5eb;
  --background-color2: #dbdbe6;
  --background-color-button: #0D6EFD;
  --background-color-button2: #000000;
  --background-color-icon: #175abe;
  --background-box: #1362d8;
  --text-color: #140c0c;
  --text-color-desc:#282729;
  --text-color-span: #000000;
  --text-color-placeholder: #22211f;
  ---border-color: 1px solid #0D6EFD;
}



@keyframes AnimationBody {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  color: #fff;
  align-items: center;
  padding: 30px;
  width: 100%;
  position: fixed;
  background-color: var(--background-color-header);
  top: 0;
  left: 0;
  z-index: 5000;
}

.header div h1 {
  font-family: "Audiowide", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
}
.menubar-list{
  background-color: var(--background-color1);
  
}
.menubar-div a{
  color: var(--text-color);
}


.menu-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  user-select: none;
}
.menu-div a {
  transition: 0.5s;
}
.menu-div a:hover {
  color: #0d6efd;
}
.iconic-dark {
  cursor: pointer;
  padding: 2px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.5s;
  color: #0d0d2e;
}
.iconic-dark:hover {
  background-color: #0d6efd;
}
.menubar-list {
  display: none; 
}

.menubar-div {
  display: none;
}

.menu-style {
}

.material-symbols-outlined {
  font-size: 30px;
}
#iconic-menu {
  font-size: 30px;
  transition: 0.5s;
}
#iconic-menu:hover {
  color: #0d6efd;
}

.section {
  display: flex;
  width: 100%;
  color: var(--text-color);
  justify-content: space-around;
  background-color: var(--background-color1);
  padding-top: 250px;
  text-align: center;
  padding-bottom: 200px;
  align-items: center;
}

.section-txt {
  text-align: left;
  padding-top: 40px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;

  margin-bottom: 40px;
}
.section-txt span {
  color: #0d6efd;
}
.section-txt h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 20px;
}

.section-txt h2 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}
.section-txt p {
  width: 550px;
  overflow-wrap: break-word;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color-desc);
}
.section-sobre {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 60px;

  margin-top: 40px;
}

.section-sobre p {
  margin-top: 15px;
  color: #fff;
  user-select: none;
  cursor: pointer;
  width: fit-content;
  padding: 20px;
  border-radius: 50px;
  background-color: var(--background-color-button);
  transition: 0.5s;
}

.section-sobre p:hover {
  background-color: #1e0f4d;
  color: #fff;
}

.section-sobre .section-sobre-img {
  display: flex;
  gap: 20px;
}
.section-sobre-img div {
  background-color: var(--background-color-icon);
  border-radius: 20px;
  transition: 0.5s;
}
.section-sobre-img div:hover {
  background-color: #0d6efd;
}
.section-sobre div img {
  padding: 10px;
  width: 50px;
  transition: 0.5s;
}

.section img {
  width: 40vh;
}

/*Section 2 - resumo*/

.section-resumo {
  background-color: var(--background-color2);
  color: var(--text-color);
  height: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}
.resume-tabs {
  background-color: var(--background-box);
  border-radius: 40px;
  display: inline-flex;
  padding: 8px;
  margin-bottom: 2rem;
}
.resume-tabs .nav-link {
  color: #fff;
  border-radius: 30px;
  margin: 0 5px;
}
.resume-tabs .nav-link.active {
  background-color: var(--background-color-button2);
  color: white;
}
.resume-section {
  color: #fff;
  background-color: var(--background-box);
  border: var(---border-color);
  border-radius: 10px;
  padding: 2rem;
}
.resume-card {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.badge-year {
  background-color: var(--background-color-button2);
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 0.8rem;
  color: white;
}
.resume-title {
  text-align: center;
  margin-bottom: 2rem;
}
.skills-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  gap: 70px;
}
.skills-img img {
  width: 10vw;

}
/*Section 2 - carrosel*/

/*section 3 - serviços */
.section-service {
  color: var(--text-color);
  background-color: var(--background-color1);
  padding-top: 100px;
  padding-bottom: 100px;
}
.servico-box {
  background-color: var(--background-box);
  border: var(---border-color);
  color: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  height: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.servico-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.servico-box h5 {
  margin-top: 15px;
  font-weight: 400;
}

.servico-box p {
  font-size: 0.95rem;
  margin-top: 10px;
}

.servicos-title {
  margin-bottom: 70px;
}

.dot {
  color: #a259ff;
}

.icon {
  font-size: 40px;
  color: #a259ff;
}
/*section 3 - Projetos */
.section-3 {
  background-color: var(--background-color2);
  padding-top: 100px;
  text-align: center;
 width: 100%;

  color: var(--text-color);
}

.section-3 {
  padding: 60px 20px;
  text-align: center;
}

.titulo-projetos {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--text-color);
}

.projetos-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.projeto-box {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: 1s;
  background-color: #065ebd;
  
  border-radius: 10px 10px 0px 0px;
}

.projeto-box:hover {
  transform: translateY(-5px);
  opacity: 0.5; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.projeto-imagem {

  width: 60vh;
  height: 32vh;
  
}

.projeto-nome {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #fff;
}

/* Modal */

.projeto-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 20px;
}

.projeto-modal-conteudo {
  background-color: #065EBD;
  padding: 30px 40px;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
  color: #dbd1d1;
  position: relative;
  text-align: left;
}

.projeto-modal-fechar {
  position: absolute;
  top: -1vw;
  right: 20px;
  font-size: 70px;
  cursor: pointer;
}
.projeto-modal-conteudo h4 {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #ffffff;
}

#modalTecnologias {
  list-style: disc inside;
  padding-left: 10px;
  color: #ffffff;
}

/*carrosel projetos de programação */
/* dados */
    .section-dados{
      background-color: var(--background-color2);
      color: var(--text-color);
      padding-top: 200px;
      padding-bottom: 200px;
    }
    .project-card {
      cursor: pointer;
      transition: transform 0.2s;
    }
    
    .project-card:hover {
      transform: scale(1.02);
    }

    .dashboard-container {
      display: none;
      margin-top: 30px;
    }
    .card-edit{
      background-color: var(--background-color-button);
      color: #fff;
      border-radius: 5px;
    }
    iframe {
      width: 100%;
      height: 600px;
      border: none;
      border-radius: 12px;
    }
    /* dados */
/*Inicio - Depoimentos */
.section-depoimentos {
  color: var(--text-color);
  background-color: var(--background-color1);
}
.section-title {
  text-align: center;
  margin-bottom: 3rem;
}
.carousel-item {
  margin-bottom: 100px;
}
.testimonial-card {
  color: #fff;
  background-color: var(--background-box);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  margin: 10px;
  height: 100%;
  min-height: 220px; /* ou outro valor baseado no slide mais alto */
}

.testimonial-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.star-rating {
  color: var(--text-color-span);
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: var(--background-color-button);
  opacity: 1;
}

.carousel-item > .row {
  display: flex;
  justify-content: center;
}

/*Fim - Depoimentos */

/* Inicio - Enviar E-mail*/

.section-forms {
  color: var(--text-color);
  background-color: var(--background-color2);
  height: 100%;
  padding: 90px 0px 90px 0px;
   
}
.section-forms a {
  color: var(--background-color-button);
}
.cont {
  margin-top: 200px;
}
.contact-box {
  color: #fff;
  background-color: var(--background-box);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
}

.info-icon {
  
  display: flex;
  width: 40px;
  height: 40px;
  background: var(--background-color-button);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}
.form-control {
  max-height: 500px;
  overflow-y: auto;
  background-color: #fff;
  border: none;
  color: rgb(39, 36, 36);
}
.form-control::placeholder {
  color: rgb(0, 0, 0,0.6);
}
.btn-custom {
  background-color: #2643e9;
  color: rgb(161, 30, 30);
  border: none;
}
.btn-custom:hover {
  background-color: #1d34b1;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Alerta personalizado */
.alerta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}

.alerta.mostrar {
  visibility: visible;
  opacity: 1;
}

.alerta-conteudo {
  background-color: #065ebd;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.alerta-conteudo p {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 18px;
}

.alerta-conteudo button {
  padding: 10px 20px;
  background: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
}
.enviar-button{
  background-color: var(--background-color-button);
  border: none;
}
.enviar-button:hover{
  background-color: var(--background-color-icon);
}
.alerta-conteudo button:hover {
  background: #103358;
}

/* fim - Enviar E-mail*/

footer {
  background-color: var(--background-color1);
  text-align: center;
}
.footer-info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: var(--text-color);
}

.footer-info p {
  margin-top: 20px;
}
